:root {
    font-size: 24px;
}

li {
    font-size: 16px;
}

.animate-spin-react {
    animation: spin 55s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.blackWhiteText{
    @apply text-customBlack dark:text-white transition-all duration-500 ease-in-out;
}
.blackWhiteBg{
    @apply bg-white dark:bg-customBlack transition-all duration-500 ease-in-out;
}
