:root {
    font-size: 24px;
}

li {
    font-size: 16px;
}

.animate-spin-react {
    animation: spin 55s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.softTrans{
    @apply transition-all duration-300 ease-in-out;
}

.blackToWhiteText{
    @apply text-customBlack dark:text-white softTrans;
}

.whiteToBlackText{
    @apply text-white dark:text-customBlack softTrans;
}

.whiteToBlackBg{
    @apply bg-white dark:bg-customBlack softTrans;
}
.blackToWhiteBg{
    @apply bg-customBlack dark:bg-white softTrans;
}

.customGraySoftTocustomGrayBg{
    @apply bg-customGraySoft dark:bg-customGray softTrans;
}
