:root {
    font-size: 24px;
}

body {
    @apply font-fontPrimary;
}

li {
    font-size: 18px;
}

.animate-spin-react {
    animation: spin 55s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.softTrans{
    @apply transition-all duration-300 ease-in-out;
}

.blackToWhiteText{
    @apply text-customBlack dark:text-white softTrans;
}

.whiteToBlackText{
    @apply text-white dark:text-customBlack softTrans;
}

.whiteToBlackBg{
    @apply bg-white dark:bg-customBlack softTrans;
}
.blackToWhiteBg{
    @apply bg-customBlack dark:bg-white softTrans;
}

.customGraySoftTocustomGrayBg{
    @apply bg-customGraySoft dark:bg-customGray softTrans;
}
   

  /* HTML: <div class="loader"></div> */
.spinner {
    aspect-ratio: 1;
    border-radius: 50%;
    --_m: 
      conic-gradient(#0000 10%,#000),
      linear-gradient(#000 0 0) content-box;
    mask: var(--_m);
    mask-composite: subtract;
    animation: l3 1.2s infinite linear;
  }
  @keyframes l3 {to{transform: rotate(1turn)}}

